
<a *ngFor="let pizza of pizzas | paginate:{itemsPerPage: 2, currentPage: p }">
  <mat-card class="card" (click)="goToDescription(pizza.id)" >
   

    <mat-card-header>
      
      <mat-card-title >
        <h1>{{ pizza.name | uppercase }} </h1>
      </mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <img width="150" height="150" src="{{pizza.image_url}}" alt="Photo of pizza">
      <ul >
        <li>{{pizza.description}}</li>
        <li>{{pizza.topping}}</li>
        <li>{{pizza.popularity}}</li>

      </ul>
    </mat-card-content>
    <div >RON: {{pizza.price}}</div>
  </mat-card>
</a>


<pagination-controls (pageChange) = "p = $event" class ="float-right">

</pagination-controls>

