.card {
    max-width: 400px;
    margin-left: 35%;
    margin-top: 1%;
    border-color: brown;
    border-width: medium;
    height: 45%;
} body {
    background-image:
    url(https://i.pinimg.com/originals/94/dc/3b/94dc3b08f7c618878896a7a96bd34f00.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}