
<p>
    <mat-toolbar color="primary" class ="tool" > 
      <mat-icon> local_pizza</mat-icon>
      {{usernameLoged}} 
      <span style="margin-left: 7%;">Pizza-App</span>
      

      <button routerLink="/profile" mat-icon-button color="white" aria-label="Example icon button with a home icon">
        <mat-icon>account_circle</mat-icon>
      </button>
     
   
      <button routerLink="cart" mat-icon-button color="white" aria-label="Example icon button with a home icon">
        <mat-icon>shopping_cart</mat-icon>
        <div style="font-size: 10px;" 
        class="badge bg-danger">{{totalItems}}</div>
      </button>

      <button (click)="signOut()" routerLink="/login" mat-icon-button color="white" aria-label="Example icon button with a home icon">
        <mat-icon>power_settings_new</mat-icon>
      </button>

      
    
  </mat-toolbar>
  </p>