.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
    align-self: center;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

.example-container {
  background-color: grey;
}

body{
  background-image:
   url(https://cdn.dribbble.com/users/1323931/screenshots/3208777/attachments/685448/login_illustration_fix.png) !important;
   background-repeat: no-repeat;
   background-size: cover;
}
.card {
  max-width: 385px;
 //max-width: 427px;
  margin-left: 55.3%;
  margin-top: 22.8%;
  //margin-top: 23.8%;
  height: 315px ;
 
  //uneori nu stiu de ce trebuie sa modific css-ul ca sa imi afiseze ok
  // una din variantele de mai sus comentate
}