
<ng-container *ngIf="products.length > 0"> <!-- true ca sa apara pe browsers-->
    <div class="container">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i = index ">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td> <img style="width: 110px;" src="{{item.image_url}}" alt=""> </td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>
                            <button (click)="removeItem(item)"
                            mat-fab color="primary" aria-label="Example icon button with a delete icon">
                                <mat-icon>delete</mat-icon>
                              </button>
                          
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4"> </td>
                        <td>
                            <button (click)="removeItems()"
                            mat-fab color="primary" aria-label="Example icon button with a delete icon">
                                <mat-icon>delete</mat-icon>
                                <!--Empty cart  -->
                              </button>
                        </td>
                        <td>
                            <button (click)="goToDashboard()"
                             mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                                <mat-icon>plus_one</mat-icon>
                                <!-- Shop more -->
                              </button>
                        </td>


                        <td><strong>Total Price:{{totalPrice}}</strong></td>
                    </tr>
                    
                </tbody>
                
                

            </table>
            
            
        </div>
    </div>
</div>

</ng-container>


<ng-container *ngIf="products.length < 1"> <!--sa nu apara pe browser-->
    <div class="container">
       
        <div class class="center">
            <img src="https://i.pinimg.com/736x/ea/2e/31/ea2e31b3b0408f6d78d594d8fc199924.jpg" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Maybe you want to buy something</h6>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
            (click)="goToDashboard()">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
        </div>
    </div>
</ng-container>

