  body{
    background-image:url("../back.jpg") !important;
    
    background-repeat: no-repeat;
    background-size: cover;
    

} 
.ng-scope {
    margin-left: 38%;
}
.product-properties {
    font-size:larger;
    font-weight: 500;
    
}