
<div *ngIf= "pizza">

    <div ng-controller="ProductCtrl" class="ng-scope">
    <div class="well catalog-product" itemscope="" itemtype="http://schema.org/Product">
      <div class="catalog-product__left">
              <img src="{{pizza.image_url}}" class="img-rounded" alt="Tort Fantasia" width="358" height="auto">
        <br>
            </div>
  
      <div class="catalog-product__right product">
          <h1 class="product__name" itemprop="name"><strong>{{pizza.name}}</strong></h1>
                <p></p>
                    <div class="product__properties">
                        
                         <strong> Allergens:<strong>{{pizza.alergeni}}</strong> </strong>
                        </div>
                          <div class="product__suggestion">
            <p><b style="color: rgb(255, 0, 0);">*Made fresh in the moment you place the order</b><br></p>
          </div>
                  
                  <div class="product__ingredients">
            <h2>Ingredients:</h2>
            <strong>
              {{pizza.ingredients}}
            </strong>
            </div>
            <strong style="font-size: 19px;">Price Ron: {{pizza.price}}</strong>
            <!-- <button style="font-size: 20px; 
            color: whitesmoke; 
            background-color: rgb(218, 13, 13);
            margin-left: 20px;" 
            (click)=" addToCart(pizza); goToCart(); ">
            Add to cart
          </button>
        -->

          <button mat-stroked-button color="warn" style="font-size: larger; font-weight: 900;"
          (click)=" addToCart(pizza); goToCart(); 
          ">
            Add to cart
          </button>
          <button routerLink="/pizza-dashboard" mat-stroked-button color="black"
          style="margin-left:20%; font-size: larger; font-weight: 900;">
          Back
         </button>
          </div>
        </div>
        </div>
     
       
         
    
      
  </div><!-- end ngIf: UI.details -->

  
 


 

